<h1><%= @shop.name %></h1>

<p><strong>口コミURL:</strong> <%= link_to @shop.url, @shop.url, target: "_blank" %></p>

<h2>レビュー QR</h2>
<%= link_to 'レビューリンク', new_shop_review_path(@shop) %>
<br>
<%= image_tag @shop.qr_code if @shop.qr_code.present? %>

<%= link_to '店舗一覧', shops_path %> |
<%= link_to '編集', edit_shop_path(@shop) %>
