<%= form_with(model: [@shop, @user], data: { turbo: false }, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="mb-3">
      <%= form.label :email, 'メールアドレス' %>
      <%= form.email_field :email, class: "form-control" %>
      <% if @user.new_record? %>
        <small class="text-muted">
          ※ 既に他店舗で登録されているメールアドレスの場合は、メールアドレスのみご入力ください。
        </small>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :password, @user.new_record? ? 'パスワード' : 'パスワード（変更する場合のみ）' %>
      <%= form.password_field :password, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :name, '表示名' %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <%= form.hidden_field :role, value: 'owner' %>

    <div class="mb-3">
      <%= form.label :language_id, '言語' %>
      <%= form.collection_select :language_id, Language.all, :id, :name, {}, class: "form-control" %>
    </div>

    <div class="mt-3">
      <%= form.submit @user.new_record? ? '作成' : '更新', class: "btn btn-primary" %>
      <%= link_to '戻る', shop_path(@shop), class: "btn btn-secondary" %>
    </div>
  </form>
<% end %>